html
    body
        h1 Create User
        form(method="post")
            div
                label#user-name Username
                input(type="text" name="user-name" placeholder="Username")
            div
                label#first-name First Name
                input(type="text" name="first-name" placeholder="First Name")
            div
                label#last-name Last Name
                input(type="text" name="last-name" placeholder="Last Name")
            div
                label#email-address Email Address
                input(type="email" name="email-address" placeholder="Email Address")
            div
                label#age Age
                input(type="number" name="age" placeholder="Age")
            input(type="submit")