html
    head
        include fonts.pug
        include pure.pug
        style
            include css/navBar.css
            include css/headers.css
    body
        include navBar.pug
        h1 Simple User Manager